[[extend 'layout.html']]

<style>
    [v-cloak] {
        display: none;
    }
</style>

<div class="section" style="background-image: linear-gradient(#e66465, #9198e5);" id="vue-target" v-cloak>

    <!-- Wishlist content -->
    <div class="container">
        <div class="section block">
            <div v-if="wishlist.length <= 0" class="container">
                <div class="level">
                    <div class="title">Hi, {{userName}}</div>
                    <p class="level-right">
                        <img class="image is-128x128" src="../static/logo.png">
                    </p>
                </div>
                <div class="block">
                    <p class="subtitle">You haven't want anything yet, </p>
                    <p class="subtitle">Let's go and add something in your wishlist!!!</p>
                </div>
            </div>
            <div v-if="wishlist.length > 0">
                <div class="level">
                    <div class="title">{{userName}}'s Wishlist</div>
                    <p class="level-right">
                        <img class="image is-128x128" src="../static/logo.png">
                    </p>
                </div>
                <div class="subtitle">Here is your wishlist :)</div>
            </div>
            <div v-for="product in wishlist" class="block">
                <div class="box" style="background-color:rgba(256,256,256,0.6);">
                    <div class="columns">
                        <div class="column is-one-quarter">
                            <img :src="product.image">
                        </div>
                        <div class="column is-three-quarters">
                            <div class="">
                                <p class="has-text-weight-bold is-size-3">{{product.product_name}}</p>
                                <p class="is-size-5">Description: {{product.description}}</p>
                                <!--                      <a :href="'[[=URL('visitor')]]' + '/' + product.product_owner.user_id" class="is-size-6">Owner:-->
                                <!--                          {{product.product_owner}}</a>-->
                                <p class="is-size-6">Owner: {{product.product_owner}}</p>
                                <div class="mt-2">
                                    <span class="product_price has-text-link">${{product.price}}</span>
                                </div>
                                <div class="buttons mt-2"></div>
                                <div class="level">
                                    <div class="level-left"></div>
                                    <div class="level-right">
                                        <button class="button is-danger" @click="delete_wishlist(product._idx)">
                                            <i class="fa fa-trash fa-2x"></i>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

[[block page_scripts]]
<!-- Loads the index-specific js for Vue -->
<script>
    let get_username_url = "[[=XML(get_username_url)]]";
    let load_wishlist_url = "[[=XML(load_wishlist_url)]]";
    let delete_wishlist_url = "[[=XML(delete_wishlist_url)]]";
</script>
<!--<script src="js/cart.js"></script>-->
<script src="js/wishlist.js"></script>
[[end]]
