[[extend 'layout.html']]

<div class="section">
    <h1 class="title">
        Phone Numbers for [[=name]]
    </h1>

    <table class="table is-striped is-fullwidth">
        <tr>
            <th>Phone</th>
            <th>Kind</th>
            <th></th>
        </tr>
        [[for row in rows:]]
        <tr>
            <td>[[=row.phone.phone_Number]]</td>
            <td>[[=row.phone.phone_Name]]</td>
            <td>
                <a class="button is-warning" href="[[=URL('edit_phone', contact_id, row.phone.id, signer=url_signer)]]">
                    <span class="icon"><i class="fa fa-fw fa-edit"></i></span>
                </a>
                <a class="button is-danger" href="[[=URL('delete_phone', contact_id, row.phone.id, signer=url_signer)]]">
                    <span class="icon"><i class="fa fa-trash"></i></span>
                </a>
            </td>
        </tr>
        [[pass]]
    </table>
    <a class="button is-success" href="[[=URL('index')]]">
        <span class="icon"><i class="fa fa-backward"></i></span>
        <span>Back</span>
    </a>
    <a class="button is-primary" href="[[=URL('add_phone', contact_id, signer=url_signer)]]">
        <span class="icon"><i class="fa fa-plus"></i></span>
        <span>Add Phone Number</span>
    </a>
</div>